@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
 /*  background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);*/

}

h1{
    display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:roboto,'Times New Roman', Times, serif;
    color:white;
    font-weight:bolder;
    margin-left:10px;
    
    

}


.top-of-website{
    background-color:#1f2937; 
     
}
.second-half-website{
    background-color:white;
}
.sign-up-button{ 

    background-color:lightsteelblue;
    border-radius:1cqw;
    padding:8px;
    position:relative; 
    left:100px;
    border-width:10px;
    background-color:#1f2937;
    color:#e5e7eb
    

}

.h1-subtext{font-family: roboto; 
    text-align:left;
    color:#e5e7eb;
    font-size:small;
    text-align:left;max-width:500px;
    margin-left:10px
} 
h2{
    color:black;
    text-align:center;
    padding-top:50px
}
.coffee-image{
     text-align:right;
    position:relative;
    top:-180px;
    left:-240px;
    min-width: 1280px;
     
}
ul{
   list-style-type: none;
    display:flex;
    width:300px; 
    flex-direction:row;
    justify-content:space-between;
    margin-left:auto;
    position:absolute;
    top: 0.01px;
    right: 20px;
    color:azure;
}
  
    
.logo{
    color:white;
    font-size:30px;
    padding-left:10px;
    font-weight:bold;
    padding-top:10px;
}
.some-text {
    color: black;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding-top: 15px;
    margin-top: 40px;
  }
  
  .all {
    background: #fff;
    margin-top: 150px;
  }
  
  .pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 55px;
  }
  
  
  .attack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    padding: 50px;
  }
}
